/* Global styles */

#notice {
        color: #100;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller serif;
}

h1 {
        font:  150% serif;
        color: #2A4480;
        border-bottom: 3px dotted #06266F;
}

/* START:mainlayout */
/* Styles for main page */

#content {
    background-color: blue;
    width: 960px;
    margin: 0 auto 0 auto;
}

#banner {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 100px/100px "Trebuchet", sans-serif, bold;
  color: white;
  text-align: left;
}

#banner img {
  float: left;
}

#main {
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#posts {
    width: 640px;
    padding: 0;
    margin: 0;
    background: red;
    
}

.post {
    padding-top: 20px;
    overflow: hidden;
    word-wrap: break-word;

}