/* Global styles */

#notice {
        color: #100;
        border: 2px solid blue;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller serif;
}


/* START:mainlayout */
/* Styles for main page */

#content {
    width: 960px;
    margin: 0 auto 0 auto;
}

#banner {
  width: 100%;
  height: 140px;
  }

#banner img {

}

#main {
  width: 950px;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 20px;
  background: white;
  border: 5px solid #004894;
  float: left;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#posts {
    width: 500px;
    padding: 0;
    margin: 0;
    background: white;
    float: left;
    padding: 0px 10px 0px;
}

.post {
    padding-top: 20px;
    overflow: hidden;
    word-wrap: break-word;
}

.timestamp {
    float: left;
}

.buttons {
    float: right;
    padding-right: 18px;
}

#submit_bar {
    margin: 20px 0px 0px 0px;
    width: 240px;
    float: right;
}

.post img {
   -webkit-box-shadow: 3px 3px 5px #000;
}